@model Funcionarios.Empresa

@{
    ViewBag.Title = "Delete";
}

<h2>Ecluir</h2>

<h3>Deseja realmente excluir?</h3>
<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayName("Endereço:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endereco)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Voltar", "Index", new { area = "" }, new { @class = "btn btn-default" })
        </div>
    }
</div>
